body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
}

.navbar {
  background-color: #007bff;
}

.navbar-brand, .nav-link {
  color: white !important;
}

.nav-link:hover, .nav-link:focus {
  color: #d1e7ff !important;
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.1);
}

.container {
  margin-top: 20px;
}

.domain-search {
  max-width: 600px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.weather-card {
  max-width: 600px;
  margin: 30px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.weather-card .label {
  font-weight: bold;
}

.weather-card .high, .weather-card .low {
  color: #dc3545;
}

.weather-card .value {
  font-size: 1.2em;
  font-weight: bold;
}

.detail {
  margin-top: 15px;
}

.table-responsive {
  margin-top: 30px;
}

.table {
  background-color: #ffffff;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.table th, .table td {
  vertical-align: middle;
  padding: 15px;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  background-color: #007bff;
  color: #fff;
  border-bottom: 2px solid #dee2e6;
}

.table tbody tr:nth-of-type(odd) {
  background-color: #f2f2f2;
}

.table tbody tr:hover {
  background-color: #e9ecef;
}

.table  {
  text-align: center;
}

.text-start{
  text-align: center;
}

.table th, .table td h6 {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
}

.table svg {
  margin-left: 10px;
  fill: #007bff;
}

footer {
  background-color: #007bff;
  color: white;
  padding: 10px 0;
  text-align: center;
}

footer p {
  margin: 0;
}
footer {
  background-color: #007bff;
  color: white;
  padding: 10px 0;
  text-align: center;
}

footer p {
  margin: 0;
}
